src/main/mule/mule-custom-tcp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
	<sockets:listener-config name="Sockets_Listener_config" doc:name="Sockets Listener config" doc:id="186352b7-1050-4060-9ae7-40887e924ad7" >
		<sockets:tcp-listener-connection host="0.0.0.0" port="8085"/>
	</sockets:listener-config>
	<sockets:request-config name="Sockets_Request_config" doc:name="Sockets Request config" doc:id="3f710221-c5b5-490f-bd26-bb6eb2538ca7" >
		<sockets:tcp-requester-connection host="127.0.0.1" port="8085" />
	</sockets:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="01e645c2-84ed-443b-bd8e-c3881445e373" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-custom-tcpFlow" doc:id="f194c6cc-0546-4c4d-a062-fc8a2cea8bb3" >
		<http:listener doc:name="Listener" doc:id="fe7e8606-5d3e-455b-8c99-8577eb1b5ee0" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="Transform Message" doc:id="08913da0-469c-44c0-9b6a-e26cbaa5a92a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
attributes]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sockets:send-and-receive doc:name="Send and receive" doc:id="ede88b52-8a74-426b-8cb5-3f59a47c4168" config-ref="Sockets_Request_config"/>
	</flow>
	<flow name="mule-custom-tcpFlow1" doc:id="68ffef37-d402-4582-9f36-eec8b04d9f8d" >
		<sockets:listener doc:name="Listener" doc:id="eb94e6a9-3959-4977-9ee3-cb8db3287f38" config-ref="Sockets_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="21a3b2f1-273d-4f20-8b49-ba50bcd51634" message="#[output text --- payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="faff8def-0f37-4ccf-8dd8-a95c9e0431e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	msg: "ok"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
